/* login */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'poppins', 'sans-serif';
    background: #ececec;
}

.box-area {
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

.form-control.ng-invalid.ng-touched {
    border-color: #d9534f;
}

.btn-custom {
    background-color: #734725 !important;
    border-color: #734725;
    color: #fff !important;
}

.carousel-item {
    transition: opacity 0.3s ease-in-out;
  }


@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}

/* Styling for Recipes Container */
.recipes-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.recipes-title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.recipes-list {
    list-style-type: none;
    padding: 0;
}

.recipe-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.recipe-name {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.ingredients {
    color: #555;
    font-style: italic;
    line-height: 1.5;
}
